* {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 12vh;
  background-color: black;
}

.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  border: white 1px solid;
  width: 50vw;
}

.header ul li a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  border: red 1px solid;
  margin: 0 1.5vw;
  transition: .2s;
}

.header ul li a:hover {
  text-shadow: 0 0 5px rgba(0,0,0,0.5);;
}

.header img {
  height: 12vh;
}
