* {
  margin: 0;
}

.header {
  align-items: center;
  background-color: black;
  display: flex;
  height: 12vh;
}

.header ul {
  align-items: center;
  border: white 1px solid;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 50vw;
}

.header ul li a {
  border: red 1px solid;
  color: gainsboro;
  text-shadow: 0px 0px 10px gainsboro;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  margin: 0 1.5vw;
  text-decoration: none;
  transition: .2s;
}

.header ul li a:hover {
  color: white;
  text-shadow: 0px 0px 5px gainsboro;
}

.header img {
  height: 12vh;
}

.verse-container {
  text-align: center;
  border: solid black 1px;
  margin-top: 5vh;
}

.verse-container p {
  margin: .8rem 0;
}